iframe{
    display: flex;
    margin: auto;
}
.hometext{
    position: relative;
    padding: 20px 60px;
    align-items: center;
    font-family: cursive;
}
.heading{
    display: flex;
    justify-content: center;
    border-bottom: red 3px solid;
    margin: 0 100px;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-top: 30px;
}
.mainImage{
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.homepage{
    margin-bottom: 50px;
}